<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
		<session-factory>
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="connection.url">jdbc:mysql://localhost:3306/flyaway</property>
			<property name="connection.username">TURGUT</property>
			<property name="connection.password">TURGUT</property>
			<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
			<property name="hbm2ddl.auto">update</property>
			<property name="show_sql">true</property>
			<property name="format_sql">true</property>
			<mapping class="bean.City" />
			<mapping class="bean.Country" />
			<mapping class="bean.Admin" />
			<mapping class="bean.Flight" />
			<mapping class="bean.FlightSchedule"/>
			<mapping class="bean.Customer"/>
			<mapping class="bean.Booking"/>
			<mapping class="bean.PaymentDetails"/>
		</session-factory>
	</hibernate-configuration>